In [67]:
import pandas as pd
import geopandas as gpd
import matplotlib
import folium
import numpy as np
import datetime
from os import listdir
from os.path import isfile, join
percorso = 'D:/Università/Tirocinio/Analisi Dati/Studio Dati/'
onlyfiles = [f for f in listdir(f'{percorso}/risultati_terremoto/') if isfile(join(f'{percorso}/risultati_terremoto/', f))]
inizio = pd.to_datetime('20160801', format='%Y%m%d')
# Mancano 4 ore nel giorno 2016-08-16
fine = pd.to_datetime('20160915', format='%Y%m%d')
comune = 'Macerata'

coms = pd.Series(pd.read_csv('D:/Università/Tirocinio/Analisi Dati/Grezzo Niki/sezione2comuneDEF.csv').comune.unique(), name= 'Comune')
crateri = pd.read_csv('D:/Università/Tirocinio/Analisi Dati/Studio Dati/crateriCentroIT.csv', sep=';').merge(coms, how='outer').drop(columns='Provincia')
crateri['Cratere Centro Italia 2016'].fillna('0', inplace=True)

In [160]:
dfc = pd.read_csv(f'{percorso}/risultati_terremoto/CentroItalia_{inizio.strftime("%Y%m%d")}_{inizio.strftime("%Y%m")}30_24.csv', header=None)
dfc.rename(columns={0: 'Comune', 1: 'val', 2: 'data'}, inplace=True)
dfc = dfc.loc[dfc['Comune'] == comune]
dfc = dfc.merge(crateri)
dfc.rename(columns={'Cratere Centro Italia 2016': 'terremotata', 'Comune': 'comune'}, inplace=True)
dfc['data'] = pd.to_datetime(dfc['data'], format='%Y%m%d_%H%M')
print(dfc.comune.shape[0])

for i in onlyfiles:
    giorno = pd.to_datetime(i.split('_')[1], format='%Y%m%d')
    if (giorno > inizio) and (giorno <= fine):

        esempio = pd.read_csv(f'{percorso}/risultati_terremoto/{i}', header=None)
        esempio.rename(columns={0: 'Comune', 1: 'val', 2: 'data'}, inplace=True)
        esempio = esempio.loc[esempio['Comune'] == comune]
        esempio = esempio.merge(crateri)
        esempio.rename(columns={'Cratere Centro Italia 2016': 'terremotata', 'Comune' : 'comune'}, inplace= True)
        esempio['data']= pd.to_datetime(esempio['data'], format='%Y%m%d_%H%M')
        dfc = pd.concat([dfc, esempio])

dfc.data = dfc.data.dt.date
dfc = dfc.groupby(['comune', 'data','terremotata']).aggregate('val').mean().reset_index()
dfc

24

      comune        data  terremotata            val
0   Macerata  2016-08-01          1.0  157011.958333
1   Macerata  2016-08-02          1.0  157654.114583
2   Macerata  2016-08-03          1.0  156520.572917
3   Macerata  2016-08-04          1.0  157503.343750
4   Macerata  2016-08-05          1.0  160508.583333
5   Macerata  2016-08-06          1.0  152546.427083
6   Macerata  2016-08-07          1.0  137908.760417
7   Macerata  2016-08-08          1.0  147401.218750
8   Macerata  2016-08-09          1.0  145366.812500
9   Macerata  2016-08-10          1.0  147182.520833
10  Macerata  2016-08-11          1.0  148813.010417
11  Macerata  2016-08-12          1.0  146557.093750
12  Macerata  2016-08-13          1.0  134742.333333
13  Macerata  2016-08-14          1.0  123327.927083
14  Macerata  2016-08-15          1.0  111677.000000
15  Macerata  2016-08-16          1.0  129837.900000
16  Macerata  2016-09-01          1.0  172425.843750
17  Macerata  2016-09-02          1.0  169588.333333
18  Macerata  2016-09-03          1.0  158918.677083
19  Macerata  2016-09-04          1.0  146690.229167
20  Macerata  2016-09-05          1.0  170035.031250
21  Macerata  2016-09-06          1.0  173436.552083
22  Macerata  2016-09-07          1.0  176240.333333
23  Macerata  2016-09-08          1.0  175098.187500
24  Macerata  2016-09-09          1.0  175033.114583
25  Macerata  2016-09-10          1.0  166709.468750
26  Macerata  2016-09-11          1.0  158562.510417
27  Macerata  2016-09-12          1.0  175989.739583
28  Macerata  2016-09-13          1.0  179302.166667
29  Macerata  2016-09-14          1.0  179816.281250
30  Macerata  2016-09-15          1.0  181196.739583

In [162]:
sedici = dfc.loc[dfc.data == pd.to_datetime('20160801', format='%Y%m%d').date()]['val']
for i in range (len(dfc)):
    dfc.iloc[i,3] = (dfc.iloc[i, 3] - sedici)*100/ sedici
dfc

      comune        data  terremotata         val
0   Macerata  2016-08-01          1.0    0.000000
1   Macerata  2016-08-02          1.0    6.532991
2   Macerata  2016-08-03          1.0   -4.999120
3   Macerata  2016-08-04          1.0    4.999120
4   Macerata  2016-08-05          1.0   35.572992
5   Macerata  2016-08-06          1.0  -45.430181
6   Macerata  2016-08-07          1.0 -194.346807
7   Macerata  2016-08-08          1.0  -97.775072
8   Macerata  2016-08-09          1.0 -118.472149
9   Macerata  2016-08-10          1.0 -100.000000
10  Macerata  2016-08-11          1.0  -83.412178
11  Macerata  2016-08-12          1.0 -106.362796
12  Macerata  2016-08-13          1.0 -226.560523
13  Macerata  2016-08-14          1.0 -342.685238
14  Macerata  2016-08-15          1.0 -461.216202
15  Macerata  2016-08-16          1.0 -276.455884
16  Macerata  2016-09-01          1.0  156.813505
17  Macerata  2016-09-02          1.0  127.946029
18  Macerata  2016-09-03          1.0   19.398045
19  Macerata  2016-09-04          1.0 -105.008340
20  Macerata  2016-09-05          1.0  132.490521
21  Macerata  2016-09-06          1.0  167.095968
22  Macerata  2016-09-07          1.0  195.620299
23  Macerata  2016-09-08          1.0  184.000653
24  Macerata  2016-09-09          1.0  183.338632
25  Macerata  2016-09-10          1.0   98.657837
26  Macerata  2016-09-11          1.0   15.774576
27  Macerata  2016-09-12          1.0  193.070878
28  Macerata  2016-09-13          1.0  226.769928
29  Macerata  2016-09-14          1.0  232.000284
30  Macerata  2016-09-15          1.0  246.044407

      comune        data  terremotata            val
0   Macerata  2016-08-01          1.0  157011.958333
1   Macerata  2016-08-02          1.0  157654.114583
2   Macerata  2016-08-03          1.0  156520.572917
3   Macerata  2016-08-04          1.0  157503.343750
4   Macerata  2016-08-05          1.0  160508.583333
5   Macerata  2016-08-06          1.0  152546.427083
6   Macerata  2016-08-07          1.0  137908.760417
7   Macerata  2016-08-08          1.0  147401.218750
8   Macerata  2016-08-09          1.0  145366.812500
9   Macerata  2016-08-10          1.0  147182.520833
10  Macerata  2016-08-11          1.0  148813.010417
11  Macerata  2016-08-12          1.0  146557.093750
12  Macerata  2016-08-13          1.0  134742.333333
13  Macerata  2016-08-14          1.0  123327.927083
14  Macerata  2016-08-15          1.0  111677.000000
15  Macerata  2016-08-16          1.0  129837.900000
16  Macerata  2016-09-01          1.0  172425.843750
17  Macerata  2016-09-02          1.0  169588.333333
18  Macerata  2016-09-03          1.0  158918.677083
19  Macerata  2016-09-04          1.0  146690.229167
20  Macerata  2016-09-05          1.0  170035.031250
21  Macerata  2016-09-06          1.0  173436.552083
22  Macerata  2016-09-07          1.0  176240.333333
23  Macerata  2016-09-08          1.0  175098.187500
24  Macerata  2016-09-09          1.0  175033.114583
25  Macerata  2016-09-10          1.0  166709.468750
26  Macerata  2016-09-11          1.0  158562.510417
27  Macerata  2016-09-12          1.0  175989.739583
28  Macerata  2016-09-13          1.0  179302.166667
29  Macerata  2016-09-14          1.0  179816.281250
30  Macerata  2016-09-15          1.0  181196.739583